<app-navbar></app-navbar>
<div class="bg">
  <div class="container">
    <div class="titre">
      <h1 class="nouv">Découvrez nos Dernières Nouvelles</h1>
      <p class="parNouv">
        Restez informé des dernières avancées et actualités dans le monde des
        documentaires grâce à notre section dédiée aux nouvelles. Nous vous
        proposons des articles récents, des mises à jour exclusives et des
        analyses approfondies sur les sujets qui façonnent le paysage
        documentaire. Que vous soyez passionné par les dernières tendances, les
        innovations technologiques ou les nouvelles productions, vous trouverez
        ici des informations pertinentes et captivantes pour enrichir votre
        compréhension et votre appréciation des documentaires. Explorez nos
        nouvelles pour rester au fait des développements majeurs et des
        histoires fascinantes qui influencent l'industrie.
      </p>
    </div>

    <div class="card cd">
      <div class="row">
        <div class="col-6">
          <div class="wrap animate pop">
            <div class="overlay">
              <div class="overlay-content animate slide-left delay-2">
                <h1 class="animate slide-left pop delay-4">Trees</h1>
                <p
                  class="animate slide-left pop delay-5"
                  style="color: white; margin-bottom: 2.5rem"
                >
                  Kingdom: <em>Plantae</em>
                </p>
              </div>
              <div class="image-content1 animate slide delay-5"></div>
              <div class="dots animate">
                <div class="dot animate slide-up delay-6"></div>
                <div class="dot animate slide-up delay-7"></div>
                <div class="dot animate slide-up delay-8"></div>
              </div>
            </div>
            <div class="text">
              <p>
                <img
                  class="inset"
                  src="assets/desk-5020801_1280.jpg"
                  alt=""
                />Trees are woody perennial plants that are a member of the
                kingdom <em>Plantae</em>. All species of trees are grouped by
                their genus, family, and order. This helps make identifying and
                studying trees easier.
              </p>
              <p>
                Apart from providing oxygen for the planet and beauty when they
                bloom or turn color, trees are very useful. Certain species of
                hardwood and softwood trees are excellent for timber, making
                furniture, and paper.
              </p>
              <p>
                When managed properly, trees are a good source of renewable
                energy and construction material.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="wrap animate pop">
            <div class="overlay">
              <div class="overlay-content animate slide-left delay-2">
                <h1 class="animate slide-left pop delay-4">Trees</h1>
                <p
                  class="animate slide-left pop delay-5"
                  style="color: white; margin-bottom: 2.5rem"
                >
                  Kingdom: <em>Plantae</em>
                </p>
              </div>
              <div class="image-content2 animate slide delay-5"></div>
              <div class="dots animate">
                <div class="dot animate slide-up delay-6"></div>
                <div class="dot animate slide-up delay-7"></div>
                <div class="dot animate slide-up delay-8"></div>
              </div>
            </div>
            <div class="text">
              <p>
                <img
                  class="inset"
                  src="https://cdn.pixabay.com/photo/2017/01/14/10/56/people-1979261_1280.jpg"
                  alt=""
                />Trees are woody perennial plants that are a member of the
                kingdom <em>Plantae</em>. All species of trees are grouped by
                their genus, family, and order. This helps make identifying and
                studying trees easier.
              </p>
              <p>
                Apart from providing oxygen for the planet and beauty when they
                bloom or turn color, trees are very useful. Certain species of
                hardwood and softwood trees are excellent for timber, making
                furniture, and paper.
              </p>
              <p>
                When managed properly, trees are a good source of renewable
                energy and construction material.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h1>test</h1>
      </div>
    </div>
  </div>
</div>
'
<div class="mt-5">
  <app-footer></app-footer>
</div>
'
