@import url("https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap");
.navbar {
  background-color: #7FA1C3;
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #6482AD; /* Couleur lorsque la page est défilée */
}

.navbar.scrolled .nav-link {
  color: #F5EDED !important; /* Couleur du texte lorsque la page est défilée */
}

.navbar.scrolled .logo{
  color: #F5EDED !important; 
}

.nav-link {
  color: #F5EDED !important;
  margin-left: 3rem;
  font-size: 2rem;
  font-family: "Zain", sans-serif;
  font-weight: 300;

  font-style: normal;
  font-size: 1.7rem;
}

.nav-link:hover {
  color: #45c4b0;
}

@media (max-width: 1000px) {
  .navbar-nav {
    flex-direction: column; /* Aligner les éléments en colonne */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
  }

  .nav-item {
    width: 100%; /* Optionnel : pour que chaque lien prenne toute la largeur */
    text-align: center; /* Centrer le texte */
    margin-bottom: 0.7rem; /* Espace entre les éléments */
    margin-left: -13rem;
  }
}

.logo {
  color: #fff8f6;
  margin-right: 12rem;
  font-size: 1.3rem;
}
.heure {
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff8f6;
  margin-left: 2rem;
  display: flex;
}

.collapse {
  margin-left: 10rem;
}

.leFadeIn span { animation-name: leFadeIn }
@keyframes leFadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #A94438;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
