<app-navbar></app-navbar>
<div class="container">
  <div class="titre" data-aos="flip-left">
    <h1 class="titleHist" >Historiques</h1>
    <p class="paragraphe">
      Bienvenue dans notre section "Historique", où nous retraçons les grandes
      étapes et les moments décisifs qui ont marqué notre domaine d'étude. Cette
      page est dédiée à l'exploration des événements clés, des évolutions
      significatives et des contributions notables qui ont façonné notre sujet.
      En parcourant cette section, vous aurez accès à des récits détaillés, des
      analyses critiques et des perspectives uniques qui vous permettront de
      comprendre en profondeur l'évolution et l'impact des faits historiques sur
      notre contexte actuel. Découvrez comment les expériences passées ont jeté
      les bases des développements présents et futurs.
    </p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="historique-item">
        <div class="row">
          <div class="col-md-6 date">1er janvier 2024</div>
          <div class="col-md-6 description">
            Description de l'événement qui s'est produit le 1er janvier 2024. Un
            résumé détaillé de ce jour important.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="historique-item">
        <div class="row">
          <div class="col-md-6 date">15 février 2024</div>
          <div class="col-md-6 description">
            Description de l'événement qui s'est produit le 15 février 2024. Un
            résumé détaillé de ce jour important.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="historique-item">
        <div class="row">
          <div class="col-md-6 date">1er janvier 2024</div>
          <div class="col-md-6 description">
            Description de l'événement qui s'est produit le 1er janvier 2024. Un
            résumé détaillé de ce jour important.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="historique-item">
        <div class="row">
          <div class="col-md-6 date">15 février 2024</div>
          <div class="col-md-6 description">
            Description de l'événement qui s'est produit le 15 février 2024. Un
            résumé détaillé de ce jour important.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="historique-item">
        <div class="row">
          <div class="col-md-6 date">1er janvier 2024</div>
          <div class="col-md-6 description">
            Description de l'événement qui s'est produit le 1er janvier 2024. Un
            résumé détaillé de ce jour important.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="historique-item">
        <div class="row">
          <div class="col-md-6 date">15 février 2024</div>
          <div class="col-md-6 description">
            Description de l'événement qui s'est produit le 15 février 2024. Un
            résumé détaillé de ce jour important.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="titre">
    <h1 class="titleHist">Fondateur</h1>
    <p class="paragraphe">
      Nous vous présentons le profil du fondateur à travers des cartes élégantes
      et informatives. Chaque carte offre un aperçu détaillé du parcours du
      fondateur, mettant en lumière ses réalisations et son rôle au sein de
      l'entreprise. Des liens directs vers ses profils sur les réseaux sociaux
      sont également fournis, permettant ainsi aux visiteurs de se connecter
      avec lui facilement et d'explorer ses contributions professionnelles.
      Cette présentation vise à fournir une vue d'ensemble complète et
      accessible, tout en facilitant l'interaction avec le fondateur.
    </p>
  </div>

  <div class="container">
    <app-fondateur></app-fondateur>
  </div>
</div>
<app-footer></app-footer>
