a {
  text-decoration: none;
}

.mission {
  font-size: 36px;
  text-align: center;
  margin-top: 50px !important;
  /* margin-bottom: 1rem !important; */
  font-weight: 700;
  font-family: "Cerebri Sans", Arial, sans-serif;
  line-height: 1.2;
  color: #222;
}

.body {
  background-color: #ece6e6;
   padding-top: 60px; 
   /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
}

.titre {
  background-image: url("/assets/black-7075971_1280.jpg");
  margin-top: 1rem;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.sous-titre {
  color: #508d4e;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -0.7rem;
}
.bg_crd{
  background-color: #FFE53B !important;
	background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%) !important;
	min-height: 100vh;
	font-family: 'Fira Sans', sans-serif;
	display: flex;}

.img-fluid {
  width: 13cm;
  height: 8cm;
  margin-left: 1.5rem;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
}

.button-wrapper {
  margin-top: 18px;
}

.botn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.botn + .botn {
  margin-left: 15px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all 0.3s ease;
}

.outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}

.three h1 {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  margin-left: 7rem;
  margin-bottom: 3rem;
}
.three h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}
.three h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}

